#emotions{
	left:0;
	width: 343px;
	font-size:12px;
	background:#fff;
	position:absolute;
	border: 9px solid #bbb;
	border-radius: 5px;
}
#emotions a{
	color: #9ABBC8;
	padding:2px 7px;
	text-decoration:none;
}
#emotions .container{
	padding:1px;
	overflow: hidden;
}
#emotions .container a{
	float:left;
	width:26px;
	height:22px;
	text-align:center;
	padding: 4px 2px;
	margin: -1px 0 0 -1px;
	border: 1px solid #e8e8e8;
}
#emotions .container a:hover{
	z-index:2;
	position:relative;
	border:1px solid #0095cd;
}